**/bin
**/obj
**/out
**/publish
**/.vs
**/.vscode
**/.idea
**/*.user
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile
**/db_export
**/appsettings.Development.json
**/appsettings.Production.json
**/secrets.json
**/.user.secrets
README.md
*.md
